body {
  background-color: rgb(254,249,240);
  font-family: 'Roboto', Arial, serif;
}

p {
  background-color: white;
  border-radius: 5px;
  padding: 10px 10px 10px 10px;
}

h2 {
  background-color: white;
  border-color:red;  
  border-left-style: solid;
  padding: 0px 0px 0px 10px;
}

#xxh2::before {
  font-weight: bold;
  color: navy;
  content: "";
  border-color:red;  
  border-left-style: solid;

}

